{% load user_tags %}
<div class="p-3 border">
  <h4 class="text-center"><u>PURCHASE ORDER</u></h4>
  <div class="d-flex mt-2 mb-2">
    <div class="d-flex mt-2 mb-2 justify-content-between">
      {% if created_po.supplier and created_po.supplier.name and created_po.supplier.address %}
        <div class="p-3 border">
          <table class="clean-table">
            <tr>
              <td class="text-center"><strong>{{ created_po.supplier.name }}</strong></td>
            </tr>
            <tr>
              <td class="text-center">{{ created_po.supplier.address }}</td>
            </tr>
            <tr>
              <td class="text-center">Tel No: {{ created_po.supplier.tel_no }}</td>
            </tr>
            <tr>
              <td class="text-center">Fax No: {{ created_po.supplier.fax_no }}</td>
            </tr>
            <tr>
              <td class="text-center">CC: {{ created_po.supplier.name }}</td>
            </tr>
          </table>
        </div>
      {% endif %}
      <!-- Tabel Kanan -->
      <div style="margin-left: 50px;">
        {% if created_po %}
          <table class="clean-table">
            <tr><td><strong>Registered No</strong></td><td>:</td><td>{{ purchase_request.registered_no }}</td></tr>
            <tr><td><strong>Date</strong></td><td>:</td><td>{{ created_po.date }}</td></tr>
            <tr><td><strong>Term</strong></td><td>:</td><td>{{ created_po.term }}</td></tr>
            <tr><td><strong>Delivery</strong></td><td>:</td><td>{{ created_po.delivery }}</td></tr>
            <tr><td><strong>Shipped By</strong></td><td>:</td><td>{{ created_po.shipped_by }}</td></tr>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
  {% if not created_po %}
    <div>
      <form method="POST" id="purchase-order-form">
        {% csrf_token %}
        <table class="clean-table">
          <tr>
            <td><strong>Term</strong></td><td>:</td>
            <td>{{ po_form.term }}</td>
          </tr>
          <tr>
            <td><strong>Delivery</strong></td><td>:</td>
            <td>{{ po_form.delivery }}</td>
          </tr>
          <tr>
            <td><strong>Supplier</strong></td><td>:</td>
            <td>{{ po_form.supplier }}</td>
          </tr>
          <tr>
            <td><strong>Shipped By</strong></td><td>:</td>
            <td>{{ po_form.shipped_by }}</td>
          </tr>
        </table>
      </form>
    </div>
  {% endif %}
  <div class="table-responsive mt-2 mb-2">
    <table class="table table-bordered mt-3" id="table_approve">
      <thead class="table-secondary">
        <tr>
          <th>No</th>
          <th>Budget Ref No</th>
          <th>Part Name</th>
          <th>Terminal</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Deadline</th>
        </tr>
      </thead>
      <tbody>
        {% for item in request_items %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.budget_ref_no }}</td>
            <td>{{ item.loading_part_result.part_name }}</td>
            <td>{{ item.loading_part_result.terminal }}</td>
            <td>{{ item.result_average_round|floatformat:-1 }}</td>
            <td>$ {{ item.estimated_price }}</td>
            <td>$ {{ item.amount }}</td>
            <td>{{ item.deadline }}</td>
          </tr>
        {% empty %}
          <tr><td colspan="8" class="text-center">Tidak ada item.</td></tr>
        {% endfor %}
      </tbody>
    </table>
    <table style="width: auto;" >
      <tr>
        <td><strong>AMOUNT</strong></td>
        <td><strong>: Rp. {{ purchase_request.total_amount }}</strong></td>
      </tr>
    </table>
  </div>
  {% if not created_po %}
    <button type="submit" class="btn btn-primary mt-2" form="purchase-order-form">
      Save Purchase Order
    </button>
  {% endif %}
</div>
<style>
  .clean-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  .clean-table td {
    padding: 4px 8px;
    background-color: white;
    vertical-align: top;
  }
  .clean-table td:first-child {
    white-space: nowrap;
    width: 150px;
  }
  .clean-table td:nth-child(2) {
    width: 10px;
  }
</style>
<script>
  new DataTable('#table_approve');
</script>
