{% load user_tags %}
<div class="p-3 border">
  <h4>Detail Purchase Request: {{ purchase_request.registered_no }}</h4>
  <div class="d-flex mt-2 mb-2">
    <table style="width: auto;" >
      <tr>
        <td><strong>Departement</strong></td>
        <td>: {{ purchase_request.departement.name }}</td>
      </tr>
      <tr>
        <td><strong>Section</strong></td>
        <td>: {{ purchase_request.section.name }}</td>
      </tr>
      <tr>
        <td><strong>Purchase By</strong></td>
        <td>: {{ purchase_request.purchase_by }}</td>
      </tr>
      <tr>
        <td><strong>Date</strong></td>
        <td>: {{ purchase_request.date }}</td>
      </tr>
    </table>
    <table style="width: auto;" >
      <tr>
        <td><strong>Status</strong></td>
        <td>: {% if purchase_request.requested %} Requested {% else %} Draft {% endif %}</td>
      </tr>
      <tr>
        <td><strong>SPV Approved</strong></td>
        <td>: {% if purchase_request.approve_spv == True %}✅{% elif purchase_request.approve_spv == False %}❌{% else %}-{% endif %}</td>
      </tr>
      <tr>
        <td><strong>SSPV Approved</strong></td>
        <td>: {% if purchase_request.approve_sspv == True %}✅{% elif purchase_request.approve_sspv == False %}❌{% else %}-{% endif %}</td>
      </tr>
    </table>
  </div>
  <h5>Requested Parts</h5>
  <div class="table-responsive mt-2 mb-2">
    <table class="table table-bordered mt-3" id="table_approve">
      <thead class="table-secondary">
        <tr>
          <th>No</th>
          <th>Budget Ref No</th>
          <th>Part Name</th>
          <th>Terminal</th>
          <th>Average</th>
          <th>Estimated Price</th>
          <th>Amount</th>
          <th>Deadline</th>
        </tr>
      </thead>
      <tbody>
        {% for item in request_items %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.budget_ref_no }}</td>
            <td>{{ item.loading_part_result.part_name }}</td>
            <td>{{ item.loading_part_result.terminal }}</td>
            <td>{{ item.result_average_round }}</td>
            <td>{{ item.estimated_price }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.deadline }}</td>
          </tr>
        {% empty %}
          <tr><td colspan="8" class="text-center">Tidak ada item.</td></tr>
        {% endfor %}
      </tbody>
    </table>
    <table style="width: auto;" >
      <tr>
        <td><strong>AMOUNT</strong></td>
        <td><strong>: Rp. {{ purchase_request.total_amount }}</strong></td>
      </tr>
    </table>
  </div>

  <form method="POST" action="{% url 'approve_purchase_request' purchase_request.registered_no %}">
    {% csrf_token %}

    {% if request.user|has_group:"Supervisor" %}
      <div class="mb-3">
        <label for="approve_spv" class="form-label">Approved by Supervisor:</label>
        <select name="action" id="approve_spv" class="form-select">
          <option value="approve_spv" {% if purchase_request.approve_spv %}selected{% endif %}>Yes</option>
          <option value="disapprove_spv" {% if purchase_request.approve_spv == False %}selected{% endif %}>No</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Submit Supervisor Approval</button>
    {% endif %}

    {% if request.user|has_group:"SeniorSupervisor" %}
      <div class="mb-3">
        <label for="approve_sspv" class="form-label">Approved by Senior Supervisor:</label>
        <select name="action" id="approve_sspv" class="form-select">
          <option value="approve_sspv" {% if purchase_request.approve_sspv %}selected{% endif %}>Yes</option>
          <option value="disapprove_sspv" {% if purchase_request.approve_sspv == False %}selected{% endif %}>No</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit Senior Supervisor Approval</button>
    {% endif %}
  </form>
</div>
<script>
  new DataTable('#table_approve');
</script>
