<div class="card p-3 border">
  <h4>Detail Purchase Request: {{ purchase_request.registered_no }}</h4>

  <p>
    <strong>Departement:</strong> {{ purchase_request.departement.name }}<br>
    <strong>Section:</strong> {{ purchase_request.section.name }}<br>
    <strong>Purchase By:</strong> {{ purchase_request.purchase_by }}<br>
    <strong>Date:</strong> {{ purchase_request.date }}<br>
    <strong>Total Amount:</strong> {{ purchase_request.total_amount }}<br>
    <strong>Status:</strong>
    {% if purchase_request.requested %} Requested {% else %} Draft {% endif %}
  </p>

  <h5>Requested Parts</h5>
  <div class="table-responsive">
    <table class="table table-bordered mt-3" id='table_approve'>
      <thead class="table-secondary">
        <tr>
          <th>No</th>
          <th>Budget Ref No</th>
          <th>Part Name</th>
          <th>Terminal</th>
          <th>Average</th>
          <th>Estimated Price</th>
          <th>Amount</th>
          <th>Deadline</th>
        </tr>
      </thead>
      <tbody>
        {% for item in request_items %}
        <tr>
          <td>{{ forloop.counter }}</td>  <!-- Tambahkan nomor urut -->
          <td>{{ item.budget_ref_no }}</td>
          <td>{{ item.loading_part_result.part_name }}</td>
          <td>{{ item.loading_part_result.terminal }}</td>
          <td>{{ item.loading_part_result.average_round }}</td>
          <td>{{ item.estimated_price }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.deadline }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="12" class="text-center">Tidak ada item.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  new DataTable('#table_approve');
</script>
