{% extends "base.html" %}
{% block content %}
{% load user_tags %}
<div class="container">
  <div class="main-content">
    <h2>AIRWAY BILL</h2>

    <form method="POST" onsubmit="showLoading(this)">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary mt-2" id="searchBtn">
        <span id="btnText">Search Email</span>
        <span id="btnSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
      </button>
    </form>
    {% if messages %}
    Note:
      {% for message in messages %}
        <div class="{{ message.tags }}"> {{ message }}</div>
      {% endfor %}
    {% endif %}
    <hr>

    <table class="table table-bordered mt-2" id="table_airwaybill">
        <thead>
            <tr>
            <th>NO</th>
            <th>AIRWAY BILL</th>
            <th>REGISTERED [PO]</th>
            <th>DATE</th>
            <th>WEIGHT</th>
            <th>SHIPPING COST</th>
            <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for awb in air_waybills %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ awb.airwaybill_no }}</td>
            <td>{{ awb.registered_no.registered_no }}</td>
            <td>{{ awb.date }}</td>
            <td>{{ awb.weight }}</td>
            <td>{{ awb.shipping_cost }}</td>
            <td>
                <a href="{% url 'airwaybill_detail' awb.registered_no.registered_no %}" class="btn btn-sm btn-info">Detail</a>
            </td>
            </tr> 
            {% empty %}
              <tr>
              <td colspan="7">Belum ada data AIRWAY BILL yang tersimpan.</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
<script>
  function showLoading(form) {
    const button = form.querySelector("#searchBtn");
    const btnText = button.querySelector("#btnText");
    const btnSpinner = button.querySelector("#btnSpinner");

    // Ganti text dengan loading spinner
    btnText.textContent = "Loading...";
    btnSpinner.classList.remove("d-none");
    button.disabled = true;
  }
</script>

{% endblock %}