{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h2 class="justify-content-center d-flex" >DELIVERY</h2>

    <table class="table table-bordered mt-3" id="table_stock">
        <thead class="table-light text-center">
            <tr>
                <th>NO.</th>
                <th>PURCHASE ORDER NO.</th>
                <th>DEPARTEMENT</th>
                <th>SECTION</th>
                <th>PURCHASE BY</th>
                {% comment %} <th>LAST AMOUNT</th> {% endcomment %}
                {% comment %} <th>AIRWAY BILL</th> {% endcomment %}
                {% comment %} <th>SHIPPING COST</th> {% endcomment %}
                <th>DATE</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for request in connected_requests %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ request.registered_no }}</td>
                <td>{{ request.departement.name }}</td>
                <td>{{ request.section.name }}</td>
                <td>{{ request.purchase_by }}</td>
                {% comment %} <td>{{ request.total_amount }}</td> {% endcomment %}
                {% comment %} <td>{{ request.airwaybill.airwaybill_no }}</td> {% endcomment %}
                {% comment %} <td>{{ request.airwaybill.shipping_cost }}</td> {% endcomment %}
                <td>{{ request.airwaybill.date }}</td>
                <td>
                    <a href="{% url 'request_item_detail' request.id %}" class="btn btn-primary btn-sm">Detail</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal Detail Bootstrap 4 -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Request Item Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalContent">
        Loading...
      </div>
    </div>
  </div>
</div>


<script>
function showDetail(url) {
    fetch(url)
        .then(response => response.json())
        .then(data => {
            $('#modalContent').html(data.html);
            $('#detailModal').modal('show');
        })
        .catch(err => {
            alert("Failed to load detail.");
            console.error(err);
        });
}
</script>

{% endblock %}
