{% load static %} {% load user_tags %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="{% url 'home' %}" class="brand-link" style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
    <img src="{% static 'assets/dist/img/e-MRP.png' %}" style="width: 120px" />
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        
        <!-- Home -->
        <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
          <a href="{% url 'home' %}" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>Home</p>
          </a>
        </li>
        <!-- Sparepart -->
        {% if request.user|has_group:"Supervisor" or request.user|has_group:"SeniorSupervisor" or request.user|has_group:"Manager" or request.user|has_group:"FactoryManager" %}
        <li class="nav-item has-treeview {% if request.resolver_match.url_name == 'applicator' or request.resolver_match.url_name == 'loadingPart' %}menu-open{% endif %}">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-box"></i>
            <p>
              Sparepart
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item {% if request.resolver_match.url_name == 'applicator' %}active{% endif %}">
              <a href="{% url 'applicator' %}" class="nav-link">
                <i class="nav-icon fas fa-screwdriver"></i>
                <p>Applicator</p>
              </a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'loadingPart' %}active{% endif %}">
              <a href="{% url 'loadingPart' %}" class="nav-link" id="loadingPartLink">
                <i class="nav-icon fas fa-spinner"></i>
                <p>Loading Part Carline</p>
              </a>
            </li>
          </ul>
        </li>
        {% endif %}
        
        {% if request.user|has_group:"Karyawan" %}
          <li class="nav-item has-treeview {% if request.resolver_match.url_name == 'applicator strokePart' %}menu-open{% endif %}">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-box"></i>
              <p>
                Sparepart
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item {% if request.resolver_match.url_name == 'applicator' %}active{% endif %}">
                <a href="{% url 'applicator' %}" class="nav-link">
                  <i class="nav-icon fas fa-screwdriver"></i>
                  <p>Applicator</p>
                </a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == 'strokePart' %}active{% endif %}">
                <a href="{% url 'strokePart' %}" class="nav-link">
                  <i class="nav-icon fas fa-cogs"></i>
                  <p>Stroke Part</p>
                </a>
              </li>
            </ul>
          </li>  
          <!-- Calculate -->
          <li class="nav-item has-treeview {% if request.resolver_match.url_name in 'carline sixProductionPlan machineLoading machineLoadingCalculate requirementPartAllCarline strokePart loadingPart' %}menu-open{% endif %}">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-dumpster"></i>
              <p>
                Requirment
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item {% if request.resolver_match.url_name == 'carline' %}active{% endif %}">
                <a href="{% url 'carline' %}" class="nav-link">
                  <i class="nav-icon fas fa-truck-loading"></i>
                  <p>Carline</p>
                </a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == 'loadingPart' %}active{% endif %}">
                <a href="{% url 'loadingPart' %}" class="nav-link" id="loadingPartLink">
                  <i class="nav-icon fas fa-spinner"></i>
                  <p>Loading Part Carline</p>
                </a>
              </li>
            </ul>
          </li>
        {% endif %}
        {% if not request.user|has_group:"Admin" %}
          <!-- Order -->
          <li class="nav-item has-treeview {% if request.resolver_match.url_name in 'purchaseReq purchaseOrd list_exported_files scheduleConf import_airwaybill import_invoice stock_list' %}menu-open{% endif %}">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-store"></i>
            <p>
              Order
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            {% if not request.user|has_group:"SeniorSupervisor" and not request.user|has_group:"Manager" and not request.user|has_group:"FactoryManager" %}
            <li class="nav-item {% if request.resolver_match.url_name == 'purchaseReq' %}active{% endif %}">
              <a href="{% url 'purchaseReq' %}" class="nav-link">
                <i class="nav-icon fas fa-cart-plus"></i>
                <p>Purchase Request</p>
              </a>
            </li>
            {% endif %}
            <li class="nav-item {% if request.resolver_match.url_name == 'purchaseOrd' %}active{% endif %}">
              <a href="{% url 'purchaseOrd' %}" class="nav-link">
                <i class="nav-icon fas fa-cart-arrow-down"></i>
                <p>Purchase Order</p>
              </a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'list_exported_files' %}active{% endif %}">
              <a href="{% url 'list_exported_files' %}" class="nav-link">
                <i class="nav-icon fas fa-file-pdf"></i>
                <p>Purchase Order Delivery</p>
              </a>
            </li>
            {% if request.user|has_group:"Karyawan" and request.user.departement and request.user.departement.name == "Stock Control" %}
              <li class="nav-item {% if request.resolver_match.url_name == 'scheduleConf' %}active{% endif %}">
                <a href="{% url 'scheduleConf' %}" class="nav-link">
                  <i class="nav-icon fas fa-calendar-check"></i>
                  <p>Schedule Confirmation</p>
                </a>
              </li>
            {% endif %}
            <li class="nav-item {% if request.resolver_match.url_name == 'import_airwaybill' %}active{% endif %}">
              <a href="{% url 'import_airwaybill' %}" class="nav-link">
                <i class="nav-icon fas fa-dolly-flatbed"></i>
                <p>Airway Bill</p>
              </a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'import_invoice' %}active{% endif %}">
              <a href="{% url 'import_invoice' %}" class="nav-link">
                <i class="nav-icon fas fa-file-invoice-dollar"></i>
                <p>Invoice</p>
              </a>
            </li>
            {% if request.user|has_group:"Karyawan" and request.user.departement and request.user.departement.name == "Stock Control" %}
            <li class="nav-item {% if request.resolver_match.url_name == 'stock_list' %}active{% endif %}">
              <a href="{% url 'stock_list' %}" class="nav-link">
                <i class="nav-icon fas fa-boxes"></i>
                <p>Stock</p>
              </a>
            </li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        <!-- About Us -->
        <li class="nav-item has-treeview {% if request.resolver_match.url_name in 'daftar_akun about departement' %}menu-open{% endif %}">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-info-circle"></i>
            <p>
              Data Management
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">  
            <li class="nav-item {% if request.resolver_match.url_name == 'daftar_akun' %}active{% endif %}">
              <a href="{% url 'daftar_akun' %}" class="nav-link">
                <i class="nav-icon fas fa-user-cog"></i>
                <p>Account</p>
              </a>
            </li>
            {% if request.user|has_group:"Admin" %}
            <li class="nav-item {% if request.resolver_match.url_name == 'master_departement_section' %}active{% endif %}">
              <a href="{% url 'master_departement_section' %}" class="nav-link">
                <i class="nav-icon fas fa-user-cog"></i>
                <p>Dept/Sect</p>
              </a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'supplier_list' %}active{% endif %}">
              <a href="{% url 'supplier_list' %}" class="nav-link">
                <i class="nav-icon fas fa-user-cog"></i>
                <p>Supplier</p>
              </a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'shipped_list' %}active{% endif %}">
              <a href="{% url 'shipped_list' %}" class="nav-link">
                <i class="nav-icon fas fa-user-cog"></i>
                <p>Shipped</p>
              </a>
            </li>
            {% endif %}
          </ul>
        </li>
        <li class="sidebar-logout">
          <a href="javascript:void(0);" class="nav-link text-danger" id="logoutButton">
            <i class="fas fa-sign-out-alt ml-2 mr-2"></i> Logout
          </a>
        </li>
    </nav>
    <!-- Loading Spinner -->
    <div id="loadingSpinner" class="d-none">
      <div class="spinner-overlay">
        <div class="spinner">
          <i class="fas fa-spinner fa-spin"></i>
        </div>
      </div>
    </div>
  </div>
</aside>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Tambahkan event listener untuk setiap link dalam submenu
    document.querySelectorAll(".nav-treeview .nav-link").forEach(link => {
      link.addEventListener("click", function (event) {
        // Pastikan submenu tetap terbuka setelah klik
        let parent = this.closest(".has-treeview");
        if (parent) {
          parent.classList.add("menu-open");
        }
      });
    });

    // Spinner Loading
    document.getElementById("loadingPartLink").addEventListener("click", function () {
      document.getElementById("loadingSpinner").classList.remove("d-none");
    });
  });

  document.getElementById("logoutButton").addEventListener("click", function () {
    Swal.fire({
      title: "Are you sure?",
      text: "You will be logged out!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes",
      cancelButtonText: "Cancel",
      customClass: {
        popup: 'custom-swal-popup',
        confirmButton: 'custom-swal-confirm-button',
        cancelButton: 'custom-swal-cancel-button'
      }
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "{% url 'logout' %}";
      }
    });
  });
</script>

