{% extends "base.html" %}
{% block content %}
{% load user_tags %}
<div class="container">
  <div class="main-content">
    <h2>STATUS APPROVAL PURCHASE</h2>
    <div class="chart-container" style="width: 35%;">
      <canvas id="approvalChart"></canvas>
    </div>
  </div>
  <table class="table table-bordered mt-3" id="table_stock_list">
      <thead class="table-light text-center">
          <tr>
              <th>No</th>
              <th>Part Name</th>
              <th>Quantity</th>
              <th>Created At</th>
          </tr>
      </thead>
      <tbody>
          {% for stock in stocks %}
          <tr class="text-center">
              <td>{{ forloop.counter }}</td>
              <td>
                  {% if stock.part %}
                      {{ stock.part.name }}
                  {% else %}
                      <i>No Part</i>
                  {% endif %}
              </td>
              <td>{{ stock.quantity }}</td>
              <td>{{ stock.created_at|date:"Y-m-d H:i" }}</td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="4" class="text-center">No stock data available.</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('approvalChart').getContext('2d');
  const approvalChart = new Chart(ctx, {
    type: 'bar',  
    data: {
      labels: {{ chart_data.labels|safe }},
      datasets: [{
        label: 'Jumlah',
        data: {{ chart_data.counts|safe }},
        backgroundColor: [
          'rgba(255, 99, 132, 0.6)',
          'rgba(255, 159, 64, 0.6)',
          'rgba(255, 205, 86, 0.6)',
          'rgba(75, 192, 192, 0.6)',
          'rgba(54, 162, 235, 0.6)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true,
          ticks: { precision: 0 }
        }
      },
      plugins: {
        legend: { display: false },
        tooltip: { enabled: true }
      }
    }
  });
</script>
{% endblock %}
