{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<div class="container mt-4">
  <div class="my-4 table-section" >
    <div class="card-header">
      <h2 class="justify-content-center d-flex" >LOADING PART</h2>
    </div>
    <div class="card-header">
      {% if grouped_data %}
        {% for carline, year_data in grouped_data.items %}
          {% for year, part_data in year_data.items %}
            <div class="mb-4">
              <h5>
                CARLINE: {{ carline }} - {{ year }}
                <button class="btn btn-link" onclick="toggleTable('{{ carline }}-{{ year }}')">
                  <i class="fas fa-list-ul"></i>
                </button>
              </h5>
              <div id="table-{{ carline }}-{{ year }}" style="display:none;">
                <table class="table table-bordered" id="table_loading_part">
                  <thead>
                    <tr>
                      <th>Part Name</th>
                      <th>Terminal</th>
                      <th>Part Number</th>
                      <th>Lvl/Mark</th>
                      {% for month in months %}
                        <th>{{ month }}</th>
                      {% endfor %}
                      <th>Average [↑]</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for partname, terminal_data in part_data.items %}
                      {% for terminal, month_data in terminal_data.items %}
                        {% with result=loading_results|get_item:carline|get_item:year|get_item:partname|get_item:terminal %}
                          <tr>
                            <td>{{ partname }}</td>
                            <td>{{ terminal }}</td>

                            {% if result and result.partdesk %}
                              <td>
                                {{ result.partdesk.partNumber|default:"-" }}
                                {{ result.partdesk.partCode|default:"-" }}
                              </td>
                              <td>
                                {{ result.partdesk.level|default:"-" }}
                                {{ result.partdesk.marking|default:"-" }}
                              </td>
                            {% else %}
                              <td colspan="2" class="text-muted text-center">No PartDesk Info</td>
                            {% endif %}

                            {% for month in months %}
                              {% with info=month_data|get_item:month %}
                                <td>
                                  {% if info %}
                                    {{ info.last_loading|floatformat:2 }}<br>
                                    <b>↑ {{ grouped_data_ceil|get_item:carline|get_item:year|get_item:partname|get_item:terminal|get_item:month|get_item:"rounded_loading" }}</b>
                                  {% else %}
                                    -
                                  {% endif %}
                                </td>
                              {% endwith %}
                            {% endfor %}
                            <td>
                              {% if result.average %}
                                {{ result.average|floatformat:2 }}<br>
                                {% if result.average_round %}
                                  <b>↑ {{ result.average_round|floatformat:0 }}</b>
                                {% else %}
                                  -
                                {% endif %}
                              {% else %}
                                -
                              {% endif %}
                            </td>
                          </tr>
                        {% endwith %}
                      {% endfor %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      {% else %}
        <p>No data available.</p>
      {% endif %}
    </div>
  </div>
</div>

<script>
  function toggleTable(id) {
    var table = document.getElementById('table-' + id);
    table.style.display = table.style.display === 'block' ? 'none' : 'block';
  }
</script>
{% endblock %}
