{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h2>INVOICE</h2>

  <form method="POST" onsubmit="showLoading(this)">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary mt-2" id="searchBtn">
      <span id="btnText">Search Email</span>
      <span id="btnSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
    </button>
  </form>

  {% if messages %}
  Note:
    {% for message in messages %}
      <div class="{{ message.tags }}"> {{ message }}</div>
    {% endfor %}
  {% endif %}


  {% if invoices %}
  <hr>
  <h3 class="mt-4">Data Invoice</h3>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Invoice No</th>
        <th>Registered No</th>
        <th>Tanggal</th>
        <th>Last Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
      <tr>
        <td>{{ invoice.invoice_no }}</td>
        <td>{{ invoice.registered_no.registered_no }}</td>
        <td>{{ invoice.date }}</td>
        <td>${{ invoice.last_amount|floatformat:2 }}</td>
        <td>
          <a href="{% url 'invoice_detail' invoice.registered_no.registered_no %}" class="btn btn-sm btn-info">Detail</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p class="mt-4">Belum ada data invoice yang tersimpan.</p>
  {% endif %}
</div>
<script>
  function showLoading(form) {
    const button = form.querySelector("#searchBtn");
    const btnText = button.querySelector("#btnText");
    const btnSpinner = button.querySelector("#btnSpinner");

    // Tampilkan spinner dan ubah teks tombol
    btnText.textContent = "Loading...";
    btnSpinner.classList.remove("d-none");

    // Nonaktifkan tombol agar tidak diklik lagi
    button.disabled = true;
  }
</script>

{% endblock %}
