{% extends "base.html" %} 
{% load user_tags %}
{% block content %}
{% load humanize %}

<div class="container mt-4">
  <h4>PURCHASE REQUISITION LIST</h4>
  <form method="get" class="form-inline mb-3 justify-content-end">
    <i class="fas fa-filter text-muted mr-2"></i>
    <select name="filter" id="filter" class="form-control" onchange="this.form.submit()">
        <option value="all" {% if filter_option == 'all' %}selected{% endif %}>All</option>
        <option value="pending" {% if filter_option == 'pending' %}selected{% endif %}>Pending</option>
        <option value="approved_spv" {% if filter_option == 'approved_spv' %}selected{% endif %}>SPV</option>
        <option value="rejected" {% if filter_option == 'rejected' %}selected{% endif %}>Rejected</option>
    </select>
  </form>
  <table class="table table-bordered mt-3" id='table_purchase_req'>
    <thead>
      <tr>
        <th>DATE</th>
        <th>REQUEST BY</th>
        <th>REGISTERED NO</th>
        <th>APPROVAL</th>
        <th>ACTION</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
    </thead>
      <tbody>
        {% for pr in requests %}
          <tr>
            <td class="text-start align-middle">{{ pr.date }}</td>
            <td class="text-start align-middle">{{ pr.registered_no }}</td>
            <td class="text-start align-middle">{{ pr.created_by }}</td>
            <td class="text-center align-middle">
              {% if pr.approve_spv is True %}
                SPV <i class="fas fa-check text-success"></i>
              {% elif pr.approve_spv is False %}
                SPV <i class="fas fa-times text-danger"></i>
              {% elif pr.requested %}
                Requested <i class="fas fa-check text-success"></i>
              {% elif pr.approve_spv is False %}
                <i class="fas fa-times text-danger"></i>
              {% endif %}
            </td>

            <!-- Detail -->
            <td class="text-center align-middle">
              {% if request.user|has_group:"Karyawan" or request.user|has_group:"Supervisor" or request.user|has_group:"SeniorSupervisor" or request.user|has_group:"Manager" or request.user|has_group:"FactoryManager" or request.user|has_group:"Admin" %}
                {% if pr.approve_spv or request.user|has_group:"Karyawan" %}
                  <button class="btn btn-sm btn-info load-detail-btn" data-registered-no="{{ pr.registered_no }}">Detail</button>
                {% elif request.user|has_group:"Supervisor" and not pr.approve_spv %}
                  <button class="btn btn-sm btn-info load-detail-btn" data-registered-no="{{ pr.registered_no }}">Approve</button>
                {% endif %}
              {% endif %}
            </td>

            <!-- Edit -->
            <td class="text-center align-middle">
              {% if request.user|has_group:"Karyawan" and not pr.approve_spv %}
                <a href="{% url 'purchase_request_edit' pr.registered_no %}" class="btn btn-sm btn-success">Edit</a>
              {% endif %}
            </td>

            <!-- Delete -->
            <td class="text-center align-middle">
              {% if request.user|has_group:"Karyawan" and not pr.approve_spv %}
                <form class="d-flex justify-content-center align-items-center" method="POST" action="{% url 'delete_purchase_request' pr.registered_no %}" onsubmit="return confirm('Yakin ingin menghapus PR ini?');">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
              {% endif %}
              {% if request.user|has_group:"Admin" %}
                <form class="d-flex justify-content-center align-items-center" method="POST" action="{% url 'delete_purchase_request' pr.registered_no %}" onsubmit="return confirm('Yakin ingin menghapus PR ini?');">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr><td colspan="7" class="text-center">No data available.</td></tr>
        {% endfor %}
      </tbody>

  </table>
  <div class="d-flex">
      <div class="border border-warning rounded p-2 mt-1">
        <strong>Note:</strong> The approval flow proceeds as follows: Requested <i class="fas fa-long-arrow-alt-right"></i> SPV 
      </div>
    {% if request.user|has_group:"Karyawan" %}
      <button type="button" class="btn btn-success mt-2" data-toggle="modal" data-target="#purchaseModal">
        Add Purchase Request
      </button>
    {% endif %}
  </div>

  <!-- Modal form purchase request -->
  <div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="purchaseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="position: absolute; right: 4%; width: 80vw; max-width: 1140px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="purchaseModalLabel">Purchase Request Form</h5>
        </div>
        <div class="modal-body">
          <form method="POST" id="purchase-form">
            {% csrf_token %}
            <div class="row mt-2 mb-2">
              <div class="col-md-6">
                <div class="mb-2">
                  <label><strong>Registered No</strong></label><br>
                  {{ form.registered_no }}
                </div>
                <div class="mb-2">
                  <label><strong>Departement</strong></label><br>
                  <input type="text" class="form-control" value="{{ user_departement }}" readonly>
                  <input type="hidden" name="departement" value="{{ user_departement.id }}">
                </div>
                <div class="mb-2">
                  <label><strong>Section</strong></label><br>
                  {{ form.section }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2">
                  <label><strong>Purchase By</strong></label><br>
                  {{ form.purchase_by }}
                </div>
                <div class="mb-2">
                  <label class="mr-4"><strong>Requested</strong></label>
                  {{ form.requested }}
                </div>
                <div class="mb-2">
                  <label><strong>Pilih Carline</strong></label><br>
                  {{ form.part_order }}
                </div>
              </div>
            </div>
            <div id="loading-parts-table-container" class="mt-4"></div>
            <div class="mt-3">
              <h6><strong>TOTAL: <span id="total-amount-display">$0.00</span></strong></h6>
            </div>
            <input type="hidden" name="total_amount_hidden" id="total-amount-hidden">
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-sm">Submit</button>
              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="detail-container" class="mt-5"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("input[name='part_order']").change(function () {
      let carlineIds = [];
      $("input[name='part_order']:checked").each(function () {
        carlineIds.push($(this).val());
      });

      if (carlineIds.length > 0) {
        $.ajax({
          url: "{% url 'ajax_get_loading_parts' %}",
          type: "POST",
          data: {
            'carline_ids[]': carlineIds,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function (response) {
            $('#loading-parts-table-container').html(response.table);
            updateAmounts();
          },
          error: function (xhr, status, error) {
            console.error("AJAX error:", error);
          }
        });
      } else {
        $('#loading-parts-table-container').html('');
        updateAmounts();
      }
    });

    $('#id_departement').change(function () {
      var departementId = $(this).val();
      $.ajax({
        url: "{% url 'ajax_load_sections' %}",
        data: { 'departement_id': departementId },
        success: function (data) {
          $("#id_section").html(data);
        }
      });
    });

    function updateAmounts() {
      let total = 0;
      $('.part-row').each(function () {
        let avg = parseFloat($(this).find('.avg-round').val()) || 0;
        let est = parseFloat($(this).find('.est-price').val()) || 0;
        let amount = avg * est;
        $(this).find('.amount').val(amount.toFixed(2));
        total += amount;
      });

      const formattedTotal = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD'
      }).format(total);

      $('#total-amount-display').text(formattedTotal);
      $('#total-amount-hidden').val(total.toFixed(2));
    }


    $(document).on('input', '.est-price', updateAmounts);

    $(document).on("click", ".load-detail-btn", function() {
      const registeredNo = $(this).data("registered-no");
      fetch(`/e-mrp/purchase-request/detail/${registeredNo}/`)
        .then(response => response.json())
        .then(data => {
          $("#detail-container").html(data.html);
        })
        .catch(error => console.error("Error fetching detail:", error));
    });
  });
</script>

{% endblock %}
