{% extends 'base.html' %}
{% block content %}
<h2>Form Purchase Request</h2>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <h3>Daftar Part Berdasarkan Carline</h3>
  {% for carline, parts in parts_per_carline.items %}
    <div style="margin-bottom: 20px;">
      <h4>{{ carline.name }}</h4>
      <table border="1" cellpadding="5">
        <thead>
          <tr>
            <th>Terminal</th>
            <th>Part Name</th>
            <th>Part Number</th>
          </tr>
        </thead>
        <tbody>
          {% for part in parts %}
          <tr>
            <td>{{ part.terminal }}</td>
            <td>{{ part.partname }}</td>
            <td>{{ part.partdesk_partNumber }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}

  <button type="submit">Submit</button>
</form>
{% endblock %}
